{% extends 'base.html' %}
{% load crispy_forms_filters %}
{%load crispy_forms_tags%}
{% load static %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<div class= "col-md-10 offset-md-1 mt-1">
    <!-- Jumbotron -->
        <div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 2%, 96%);">
            
            <h1>Update blog post Here</h1>
            
            <hr class="my-4" />
            <form class="form-sample" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Save">
            </form>

           
         
        </div>
        <!-- Jumbotron -->
</div>

</div>
{% endblock %}
